[Unit]
Description=YugabyteDB Cluster (yugabyted-managed)
After=network-online.target
ConditionPathExists={{ yugabyte_install_path }}/{{ yugabyte_dir }}/post_install.sh

[Service]
Type=oneshot
RemainAfterExit=yes
User={{ yugabyte_user }}
WorkingDirectory={{ yugabyte_install_path }}/{{ yugabyte_dir }}

ExecStart=/usr/bin/python3 {{ yugabyte_install_path }}/{{ yugabyte_dir }}/bin/yugabyted start
ExecStop=/usr/bin/python3 {{ yugabyte_install_path }}/{{ yugabyte_dir }}/bin/yugabyted stop

[Install]
WantedBy=multi-user.target
