[Unit]
Description=YugabyteDB Service
After=network.target

[Service]
Type=exec 
User={{ yugabyte_user }}
WorkingDirectory=/home/packer/{{ yugabyte_dir }}
ExecStart=/home/packer/{{ yugabyte_dir }}/bin/yugabyted start
ExecStop=/home/packer/{{ yugabyte_dir }}/bin/yugabyted stop
ExecReload=/home/packer/{{ yugabyte_dir }}/bin/yugabyted restart
Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
