[Unit]
Description=YugabyteDB Service (Managed by yugabyted)
After=network.target

[Service]
Type=oneshot
RemainAfterExit=yes
User={{ yugabyte_user }}
Group={{ yugabyte_group }}
WorkingDirectory=/home/{{ yugabyte_user }}
ExecStart=/usr/bin/python3 /home/{{ yugabyte_user }}/yugabyte-2024.2.2.2/bin/yugabyted start
ExecStop=/usr/bin/python3 /home/{{ yugabyte_user }}/yugabyte-2024.2.2.2/bin/yugabyted stop
LimitNOFILE=1048576

[Install]
WantedBy=multi-user.target

